<div class="container-fluid footer">

    <div class="row  d-flex justify-content-center ">

        <div class="col-12 ">
            <div class="row">
                <div class="col-4 sep"></div>
                <div class="col-4">
                    <div class="row mt-5 d-flex">
                        <div class="col-3 d-flex justify-content-center"><img class="logos" src="assets\images\instagram.png"></div>
                        <div class="col-3 d-flex justify-content-center"><img class="logos" src="assets\images\facebook.png"></div>
                        <div class="col-3 d-flex justify-content-center"><img class="logos" src="assets\images\gorjeo.png"></div>
                        <div class="col-3 d-flex justify-content-center"><img class="logos" src="assets\images\youtube.png"></div>
                    </div>
                </div>
                <div class="col-4 sep"><hr></div>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center mt-5">
            <img src="assets\images\logoCentro.png" class="logoCentro" alt="Logo del centro deportivo">
        </div>

        <div class="col-12 d-flex justify-content-center mt-5 mb-4">

            <a href="http://www.ieshnosmachado.org/Contacto" class="texto mx-2"> Contáctanos </a>
            <span class="vh"></span>
            <a href="http://www.ieshnosmachado.org/Carta" class="texto mx-2"> Sobre nosotros </a>
            <span class="vh"></span>
            <span class="texto mx-2">&copy; 2023 Centro Deportivo Hermanos Machado</span>

        </div>

    </div>


</div>
